.button {
  position: relative;
  z-index: 1;
  border: bold solid $color-dumby-dblue;
  font-family: $font-family-title;
  font-weight: 800;
  font-size: .95em;
  letter-spacing: 1.5px;
  color: $color-dumby-dblue;
  text-align: center;
  padding: 12px 30px;
  transition: all ease-out 100ms;

  &:hover {
    color: $color-body;
    &:before {
      width: 100%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $color-dumby-dblue;
    z-index: -1;
    transform-origin: 0% 100%;
    transition: width 0.3s;
  }
}
