.NetworkList {
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 7px 30px;
  }
  span {
    width: 15px;
    margin: 2px -10px 0 30px;
  }

  img {
    width: 20px;
    height: auto;
    fill: $color-dumby-dblue;
  }
  a:nth-child(2) {
    li {
      border: solid #55acee;
      color: #55acee;
    }
    li:hover {
      background: #55acee;
      color: #FFF;
      img {
        fill: #fff;
      }
    }
  }
  a:nth-child(3) {
    li {
      border: solid $color-danger;
      color: $color-danger;
    }
    li:hover {
      background: $color-danger;
      color: #FFF;
    }
  }
}
