.projet {
  width: 310px;
  box-shadow: -1px 1px 5px 0px $color-dumby-font;
  margin: 5px;
  flex: 1 1 auto;
}

.projet-header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 40px;
    height: auto;
    margin: 10px;
  }

  h4 {
    font-family: $font-family-serif;
    font-size: 20px;
    color: $color-body;
    margin: 0;
  }
}
.projet-header-securite {
  background-image: url('../images/securite.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projet-header-education {
  background-image: url('../images/education.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projet-header-emploi {
  background-image: url('../images/emploi.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projet-header-justice {
  background-image: url('../images/justice.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projet-header-sante {
  background-image: url('../images/sante.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projet-header-culture {
  background-image: url('../images/culture.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.projet-content {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    margin: 0;
    font-family: $font-family-sans;
    font-weight: 800;
    text-transform: none;
    font-size: 16px;
    letter-spacing: normal;
  }

  p {
    margin: 0;
    padding: 10px;
    max-width: 85%;
  }
  .projet-title-securite {
    color: $color-danger;
  }
  .projet-title-education {
    color: $color-dumby-dblue;
  }
  .projet-title-emploi {
    color: $color-dumby-emploi;
  }
  .projet-title-justice {
    color: $color-dumby-justice;
  }
  .projet-title-sante {
    color: $color-dumby-sante;
  }
  .projet-title-culture {
    color: $color-dumby-culture;
  }
}

.projet-footer {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-title;
  font-weight: 600;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    color: $color-body;
    letter-spacing: 1.3px;
  }
}

.projet-securite {
  background-color: $color-danger;
  transition: all ease-out 300ms;
  &:hover {
    background-color: darken($color-danger, 10%);
    transition: all ease-in 200ms;
  }
}
.projet-education {
  background-color: $color-dumby-dblue;
  transition: all ease-out 300ms;
  &:hover {
    background-color: darken($color-dumby-dblue, 10%);
    transition: all ease-in 200ms;
  }
}
.projet-emploi {
  background-color: $color-dumby-emploi;
  transition: all ease-out 300ms;
  &:hover {
    background-color: darken($color-dumby-emploi, 10%);
    transition: all ease-in 200ms;
  }
}
.projet-justice {
  background-color: $color-dumby-justice;
  transition: all ease-out 300ms;
  &:hover {
    background-color: darken($color-dumby-justice, 10%);
    transition: all ease-in 200ms;
  }
}
.projet-education {
  background-color: $color-dumby-dblue;
  transition: all ease-out 300ms;
  &:hover {
    background-color: darken($color-dumby-dblue, 10%);
    transition: all ease-in 200ms;
  }
}
.projet-sante {
  background-color: $color-dumby-sante;
  transition: all ease-out 300ms;
  &:hover {
    background-color: darken($color-dumby-sante, 10%);
    transition: all ease-in 200ms;
  }
}
.projet-culture {
  background-color: $color-dumby-culture;
  transition: all ease-out 300ms;
  &:hover {
    background-color: darken($color-dumby-culture, 10%);
    transition: all ease-in 200ms;
  }
}
