/**
 * Global styles, typography and layout classes
 */

body {
    margin: 0;
}

html {
    background:  $color-body;
    color:       $color-text;
    font-weight: normal;
    font-size:   $font-size-base;
    font-family: $font-family-sans;
    line-height: $line-height-base;
    box-sizing:  border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

textarea, input, button {
    font-size: $font-size-base;
}

img {
    max-width: 100%;
    height: auto;
}

//
// Typography
//

.site-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 4.5rem;
    font-weight: 400;
}

.tagline {
    margin-top: 0;
    font-size: $f4;
}

.page-title {
    margin-top: 50px;
    margin-bottom: 30px
}


//
// Layout
//
// .site-content {
//     display: none;
// }
// .site-footer {
//     display: none;
// }
.container {

    @include breakpoint($xl) {
        padding: 0;
    }
}
