/**
 * Variables
 *  - Colors
 *  - Typography
 *  - Breakpoints
 *  - Grid
 */

// Base colors
$color-body:        #ffffff;
$color-text:        #444444;
$color-heading:     #444444;
$color-link:        #414141;
$color-link-hover:  darken($color-link, 10%);
$color-success:     #5cb85c;
$color-info:        #5bc0de;
$color-warning:     #f0ad4e;
$color-danger:      #d81128;
$color-border:      #979797;
$color-dumby-blue:  #004090;
$color-dumby-dblue: #213958;
$color-dumby-grey:  #252525;
$color-dumby-white: #eaeaea;
$color-dumby-font:  #a3a3a3;
$color-dumby-red:   #d81128;

// Custom colors
$color-border:      #dddddd;

// Base typography
$font-size-base:       1rem;
$line-height-base:     1.625em;
$line-height-headings: 1.125em;

// Breakpoints
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Grid
$susy: (
    columns: 12,
    gutters: 1/4,
    container: 1200px,
    global-box-sizing: border-box
    );

// Font style
$uppercase: uppercase;
.uppercase {
    text-transform: $uppercase;
}
