.AboutFlex {
  display: flex;
  flex-flow: row wrap;
  article:nth-child(even) {
    flex-direction: row-reverse;
    // Responsive
    @media only screen and (max-width: 868px) {
      flex-direction: column;
    }
  }
  article {
    margin: 50px 0;
  }
}
.AboutImage {
  object-fit: cover;
  min-height: 100%;
}
