.about-content {
    background-color: #f9f9f9;
    height: 100%;
}

// -- container about page --
.about-container {
    background-color: #f9f9f9;
    width: 80.34vw;
    margin: auto;
    position: relative;
    top: -135px;
}

// -- thumbnail top page --
.about-featured-image img{
    height: 58.222%;
    width: 100%;
}

// -- Header about page --
.about-header {
    width: 986px;
    margin: 0 0 92px 100px;
    padding-top: 66px;

    .about-subtitle {
        font-family: $font-family-subtitle;
        font-size: 16px;
        color: $color-about-text;
        text-transform: uppercase;
        margin: 0;
    }

    .about-heading {
        font-family: $font-family-serif;
        font-size: 30px;
        color: $color-dumby-dblue;
        text-transform: uppercase;
        margin: 25px 35px 25px 0;
    }

    .about-heading.intro {
        font-family: $font-family-sans;
        font-size: 14px;
        color: $color-about-text;
        text-transform: none;
    }
}

// -- about article style --

.about {
    margin: 0 0 135px 60px;
    height: 363px;
    width: 71.52vw;
    display: flex;
    position: relative;

    .about-image {
        flex: 0.5;
        position: absolute;
        top: 33px;
    }

    .about-article__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;;
        background: #FFFFFF;
        margin-left: 135px;
        padding: 20px 0 0 412px;
        flex: 1;
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
        justify-content: flex-start;

        .about-article__container {
            margin: 0 135px 0 0;
            padding: 20px 412px 0 50px;
        }
    }
}

.about-article__content {
    width: 100%;
    padding-right: 50px;
    height: 250px;

    .about-title {
        font-family: $font-family-serif;
        font-size: 24px;
        text-transform: uppercase;
    }

    .ornements {
        color: $color-dumby-dblue;
    }

    .about-work {
        font-family: $font-family-sans;
        font-size: 16px;
        color: $color-about-text;
    }
}
