.Homepage {
  position: relative;
  display: flex;
}

.Homepage__heading {
  width: 100vw;
  height: 70vh;
  background-image: url('../images/background-slider.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Homepage__content__section {
  padding: 0;
  > ul, li {
    list-style: none;
  }
}

.Homepage__content__section--first {
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  li {
    width: 50%;
  }

  li:first-child {
    margin: 120px 0;
  }
}
