.Homepage {
  position: relative;
  display: flex;
}

.Homepage__heading {
  width: 100vw;
  height: 75vh;
  background-image: url('../images/background-slider.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Homepage__content__section {
  padding: 0;
  > ul, li {
    list-style: none;
  }
}

.Homepage__content__section--first {
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  // Responsive
  @media only screen and (max-width: 1100px) {
    flex-flow: column;
    text-align: center;
  }

  li:first-child {
    margin: 120px 0;
    width: 60%;

    // Responsive
    @media only screen and (max-width: 1100px) {
      width: 100vw;
    }
  }

  li:last-child {
    width: 40%;

    // Responsive
    @media only screen and (max-width: 1100px) {
      width: 100vw;
    }
  }
}

.Homepage__content__section__about {
  display: flex;
  justify-content: center;
  padding: 0 0 0 55px;
  // Responsive
  @media only screen and (max-width: 1100px) {
    padding: 0;
  }
  // Responsive
  @media only screen and (max-width: 868px) {
    text-align: center;
  }
}

.Homepage__content__section__about__wrapper {
  max-width: 60%;
  // Responsive
  @media only screen and (max-width: 868px) {
    max-width: 90%;
  }
}

.Homepage__content__section__dunno {
  position: relative;
  background-image: url('../images/about-dumby.png');
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Homepage__content__section__dunno__content {
  border: 4px solid $color-danger;
  width: 62%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  line-height: 3px;
  // Responsive
  @media only screen and (max-width: 1100px) {
    margin: 50px;
    width: 35%;
  }

  // Responsive
  @media only screen and (max-width: 868px) {
    margin: 50px;
    width: 100%;
  }

  h2 {
    color: $color-body;
    font-size: 100px;
    margin: 50px 0;
    font-weight: 200;
  }

  h5 {
    font-family: $ornement;
    font-size: 30px;
    margin: 20px 0;
    font-weight: 200;
  }

  p {
    font-size: 16px;
    color: $color-body;
    letter-spacing: 2px;
  }

  h4 {
    color: $color-body;
    font-size: 12px;
    line-height: 15px;
  }
}

.Homepage__content__section--second {
  margin: 0;
  height: 400px;
  background-image: url('../images/pattern.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h4 {
    color: $color-body;
    margin: 10px 0;
    font-size: 14px;
  }
  h2 {
    color: $color-body;
    margin: 10px 0;
    text-align: center;
  }
  h5 {
    color: $color-body;
    font-family: $ornement;
    font-size: 30px;
    margin: 10px 0;
  }
  p {
    color: $color-body;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
  }
  .contact-email {
    border: none;
    background: $color-body;
    color: $color-dumby-dblue;
    font-family: $font-family-title;
    font-weight: 600;
    padding: 20px 40px;
  }
  .contact-email::placeholder {
    color: $color-dumby-dblue;
  }
  .contact-postal {
    border: none;
    background: $color-body;
    color: $color-dumby-dblue;
    font-family: $font-family-title;
    font-weight: 600;
    padding: 20px 40px;
  }
  .contact-postal::placeholder {
    color: $color-dumby-dblue;
  }
  .contact-submit {
    background: $color-dumby-dblue;
    font-family: $font-family-title;
    font-weight: 600;
    color: $color-dumby-white;
    border: large solid $color-dumby-dblue;

    padding: 17px 40px 18px 40px;
  }
}

.Homepage__content__section--third {
  &__firstChild {
    margin: 120px 0 80px 0;
    max-width: 55%;
    // Responsive
    @media only screen and (max-width: 1100px) {
      margin: 120px auto;
      text-align: center;
    }
    // Responsive
    @media only screen and (max-width: 868px) {
      text-align: center;
      margin: 120px auto 80px;
      max-width: 90%;
    }
  }
  &__secondChild {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    margin: 0 0 100px 0;


    article {
      margin-top: 20px;
    }
  }
}
.Homepage__content__section--fourth {
  background: #fff;
  background-image: url('../images/background-actu.png');
  background-repeat: no-repeat;
  background-position: center 60px;
  background-size: cover;
  z-index: 1;
  padding: 80px 0;
  margin: 0;
  h2 {
    margin: 0;
  }
}
.Homepage__content__section--fourth__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  // Responsive
  @media only screen and (max-width: 1100px) {
    text-align: center;
    flex-direction: column;
  }
}
.Homepage__content__section--fourth__content {
}
.Homepage__content__section--fourth__actuTop {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-end;
}
.ctf-tweet-date {
  color: $color-danger !important;
}
.ctf-tweets {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;

}

.ctf-item {
  background: $color-body;
  width: 310px;
  // height: 210px;
  padding: 40px !important;
  margin: 5px;
  border: none !important;
  box-shadow: -1px 1px 5px 0px $color-dumby-font;
  flex: 1 1 auto;

}

.ctf-out-of-tweets {
  display: none !important;
}

.Homepage__content__section--fourth__actuBot {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-flow: row wrap;
}

.Homepage__content__section--fifth {
  margin: 0;
}
