.page-actu {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background:blue;

    .page-actu-article__date {
      font-family: $font-family-title;
      font-size: 1.2rem;
    }
    .page-actu-article__title {
      font-family: $font-family-sans;
      margin:0;
    }
    .page-actu-article__text {
      font-family: $font-family-sans;
    }

    .page-actu-article__ornement {
      font-family: $ornement;
    }

    /*
    ***************
    * First Article
    ***************
    */

    .page-actu__heading {
      width: 70%;
      background: red;
    }

    .page-actu__content {
      width: 80%;
    }

    .page-actu__firstarticle {
      position: relative;
      display: flex;
      flex-flow:row;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .page-actu-firstarticle__img {
      padding-top:5%;
      z-index: 1;
    }

    .page-actu-firstarticle__background {
      position: absolute;
      right:0;
      background:white;
      width: 70%;
      height: 95%;
    }

    .page-actu-firstarticle__content {
      height: 100%;
      padding-left:5%;
      align-self:center;
      z-index: 1;
    }

    .page-actu__subtitle {
      font-size:0.75em;
    }

    /*
    ***************
    * First Article
    ***************
    */

    /*
    **********
    * Articles
    **********
    */

    .page-actu__articles {
      display: flex;
      flex-flow:row;
      justify-content: space-between;

       .page-actu__article {
         width:calc(100% / 3);
         background:white;
         margin:1%;
       }

       .page-actu-article__img {
         width:100%;
         height: 30%;
       }

       .page-actu-article__content {
         width: 80%;
         padding-left:10%;
       }
    }

}
