/**
 * Header
 */
.PrimaryHeader {
  position: relative;
  background: #FFF;
  top: 0;
  width: 100vw;
  height: 120px;
  border-bottom: thin solid rgba($color-border, .4);

  // Responsive
  @media only screen and (max-width: 868px) {
    height: 70px;
    transition: all linear 200ms;

    img {
      transform: scale(0.75);
    }

    .HeaderMenu {
      pointer-events: none;
      opacity: 0;
      transition: all ease-out 200ms;
    }
  }
}

.PrimaryHeader--hover {
  height: 500px !important;
  transition: all ease-in 400ms;

  img {
    transform: scale(1);
    margin-bottom: -50px;
    animation: 500ms -150ms fade_in;
  }

  .HeaderMenu {
    pointer-events: auto;
    opacity: 1;
    transition: all ease-in 400ms;
  }
}

@keyframes fade_in { to { opacity: 0; } }

.PrimaryHeader__wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;

  .PrimaryHeader__button {
    width: 70px;
    height: 70px;
    background-color: $color-danger;
    color: $color-body;
    font-size: 16px;
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
  }

  > a {
    display: flex;
  }

  // Responsive
  @media only screen and (max-width: 868px) {
    flex-flow: column wrap;
    align-items: center;
    width: 100vw;

    .PrimaryHeader__button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Responsive
  @media only screen and (max-width: 1100px) {
    width: 100vw;
  }

  > div, ul {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .93em;
    font-weight: 700;
  }
}
.menu-menu-1-container {
  width: 80%;

  // Responsive
  @media only screen and (max-width: 868px) {
    height: 300px;
  }
}
.HeaderMenu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  // Responsive
  @media only screen and (max-width: 868px) {
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
  }

  > li a {
    position: relative;
    transition: all ease-out 300ms;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: $color-danger;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover {
      color: $color-dumby-blue;
      transition: all ease-in 200ms;
      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }


  // Get fifth li element from menu
  > li:nth-child(5) {
    border: bold solid $color-danger;
    transition: all ease-out 300ms;

    a {
      position: relative;
      z-index: 1;
      color: $color-danger;
      padding: 30px;
    }

    a:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 29%;
      width: 0%;
      height: 40%;
      background-color: $color-danger;
      z-index: -1;
      transform-origin: 0% 100%;
      transition: all ease-out 300ms;
    }

    &:hover {
      a {
        color: $color-body;
      }
      a:before {
        width: 100%;
        transition: width 0.3s;
      }
    }
  }

  // Get sixth li element from menu
  > li:last-child {
    border: bold solid $color-dumby-blue;
    transition: ease-out 100ms;

    a {
      position: relative;
      z-index: 1;
      color: $color-dumby-blue;
      padding: 30px;
    }

    a:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 29%;
      width: 0%;
      height: 40%;
      background-color: $color-dumby-blue;
      z-index: -1;
      transform-origin: 0% 100%;
      transition: all ease-out 300ms;
    }

    &:hover {
      a {
        color: $color-body;
      }
      a:before {
        width: 100%;
        transition: width 0.3s;
      }
    }

  }
}
.PrimaryHeader__wrap__navbar__logo  {
  width: 100px;
}
